<%- include('../partials/user/header.ejs') %>
<%- include('../partials/chatbot.ejs') %>

<style>

    .whishlist.active{
            background: linear-gradient(45deg, #ff6b6b, #ff8e53);
    color: #fff;
    border-color: transparent;
    transform: scale(1.1);
    }

</style>


<link rel="stylesheet" href="/css/shop.css">
<!-- SweetAlert2 CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Breadcrumb Section -->
<section class="shp_breadcrumb_option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shp_breadcrumb_text">
                    <h4>Shop</h4>
                    <div class="shp_breadcrumb_links">
                        <a href="/">Home</a> <span>></span>
                        <a href="/shop">Shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Shop Section -->
<section class="shp_section">
    <div class="container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-3 col-md-4">
                <div class="sidebar">
                    <!-- Search Form -->
                    <div class="shp_search">
                        <form action="/shop" method="GET" id="searchForm">
                            <div class="input-group">
                                <input type="text" name="search" placeholder="Search products..." id="searchInput" value="<%= req.query.search || '' %>" autocomplete="off">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn-search"><i class="fa fa-search"></i></button>
                                    <button type="button" class="btn-clear" onclick="window.location.href='/shop?page=1'">Clear</button>
                                </span>
                            </div>
                            <% if (req.query.category) { %>
                                <input type="hidden" name="category" value="<%= req.query.category %>">
                            <% } %>
                            <% if (req.query.brand) { %>
                                <input type="hidden" name="brand" value="<%= req.query.brand %>">
                            <% } %>
                            <% if (req.query.price) { %>
                                <input type="hidden" name="price" value="<%= req.query.price %>">
                            <% } %>
                            <% if (req.query.sort) { %>
                                <input type="hidden" name="sort" value="<%= req.query.sort %>">
                            <% } %>
                            <% if (currentPage) { %>
                                <input type="hidden" name="page" value="<%= currentPage %>">
                            <% } %>
                        </form>
                    </div>

                    <!-- Filter Form -->
                    <div class="shp_filters">
                        <form action="/shop" method="GET" id="filterForm">
                            <div class="accordion" id="shp_accordion">
                                <!-- Categories Filter -->
                                <div class="shp_filter">
                                    <div class="shp_filter_heading">
                                        <a data-toggle="collapse" data-target="#shp_collapse_categories">Categories <i class="fa fa-chevron-down"></i></a>
                                    </div>
                                    <div id="shp_collapse_categories" class="collapse">
                                        <div class="shp_filter_body">
                                            <ul class="shp_scroll">
                                                <% categories.forEach(category => { %>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="category" value="<%= category._id %>" <%= req.query.category === category._id.toString() ? 'checked' : '' %>>
                                                            <%= category.name %>
                                                        </label>
                                                    </li>
                                                <% }) %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Brands Filter -->
                                <div class="shp_filter">
                                    <div class="shp_filter_heading">
                                        <a data-toggle="collapse" data-target="#shp_collapse_brands">Brands <i class="fa fa-chevron-down"></i></a>
                                    </div>
                                    <div id="shp_collapse_brands" class="collapse">
                                        <div class="shp_filter_body">
                                            <ul style="list-style-type: none;">
                                                <% brands.forEach(brand => { %>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="brand" value="<%= brand._id %>" <%= req.query.brand === brand._id.toString() ? 'checked' : '' %>>
                                                            <%= brand.brandName %>
                                                        </label>
                                                    </li>
                                                <% }) %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Price Filter -->
                                <div class="shp_filter">
                                    <div class="shp_filter_heading">
                                        <a data-toggle="collapse" data-target="#shp_collapse_price">Filter Price <i class="fa fa-chevron-down"></i></a>
                                    </div>
                                    <div id="shp_collapse_price" class="collapse">
                                        <div class="shp_filter_body">
                                            <ul style="list-style-type: none;">
                                                <% priceRanges.forEach(range => { %>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="price" value="<%= range.value %>" <%= req.query.price === range.value ? 'checked' : '' %>>
                                                            <%= range.label %>
                                                        </label>
                                                    </li>
                                                <% }) %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Apply and Reset Buttons -->
                          
                            <% if (req.query.search) { %>
                                <input type="hidden" name="search" value="<%= req.query.search %>">
                            <% } %>
                            <% if (req.query.sort) { %>
                                <input type="hidden" name="sort" value="<%= req.query.sort %>">
                            <% } %>
                            <% if (currentPage) { %>
                                <input type="hidden" name="page" value="<%= currentPage %>">
                            <% } %>

                              <div class="shp_filter_apply">
                                <button type="submit" class="shp_btn_apply">Apply Filters</button>
                                <button type="button" class="shp_btn_reset" onclick="window.location.href='/shop?page=1'">Reset All</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Product List and Sorting -->
            <div class="col-lg-9 col-md-8">
                <div class="shp_product_options">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shp_product_results">
                                <p>Showing <%= products.length > 0 ? `${(currentPage - 1) * limit + 1}–${Math.min(currentPage * limit, totalProducts)}` : '0' %> of <%= totalProducts %> results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shp_product_sort">
                                <form action="/shop" method="GET">
                                    <label for="shp_sort">Sort by:</label>
                                    <select id="shp_sort" name="sort" onchange="this.form.submit()">
                                        <option value="price-asc" <%= req.query.sort === 'price-asc' ? 'selected' : '' %>>Price: Low to High</option>
                                        <option value="price-desc" <%= req.query.sort === 'price-desc' ? 'selected' : '' %>>Price: High to Low</option>
                                        <option value="name-asc" <%= req.query.sort === 'name-asc' ? 'selected' : '' %>>Name: A to Z</option>
                                        <option value="name-desc" <%= req.query.sort === 'name-desc' ? 'selected' : '' %>>Name: Z to A</option>
                                        <option value="newest" <%= req.query.sort === 'newest' ? 'selected' : '' %>>New Arrivals</option>
                                    </select>
                                    <% if (req.query.search) { %>
                                        <input type="hidden" name="search" value="<%= req.query.search %>">
                                    <% } %>
                                    <% if (req.query.category) { %>
                                        <input type="hidden" name="category" value="<%= req.query.category %>">
                                    <% } %>
                                    <% if (req.query.brand) { %>
                                        <input type="hidden" name="brand" value="<%= req.query.brand %>">
                                    <% } %>
                                    <% if (req.query.price) { %>
                                        <input type="hidden" name="price" value="<%= req.query.price %>">
                                    <% } %>
                                    <% if (currentPage) { %>
                                        <input type="hidden" name="page" value="<%= currentPage %>">
                                    <% } %>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Product List -->
                <div class="row shp_product_filter">
                    <% products.forEach(product => { %>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="shp_product_cart_wrap <%= product.status === 'Discounted' ? 'shp_sale' : '' %>">
                                <div class="shp_product_img_action_wrap">
                                    <div class="shp_product_img">
                                        <a href="/product/details/<%= product._id %>" class="shp_product_img_zoom">
                                            <img src="<%= product.productImage[0]?.path %>" alt="<%= product.productName %>" class="default-img">
                                        </a>
                                    </div>
                                    <% if (product.productOffer > 0) { %>
                                        <span class="shp_label">
                                            
                                            <%= product.productOffer %>% Off
                                        </span>
                                    <% } %>
                                    <div class="shp_product_action_1">
                                        <button onclick="addToWishlist('<%= product._id %>')" id="whishlist-button" class="whishlist shp_action_btn hover-up" title="Add to Wishlist">
                                            <i class="fa fa-heart"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="shp_product_details">
                                    <h6><a href="/product/<%= product._id %>"><%= product.productName %></a></h6>
                                    <div class="shp_rating">
                                        <% for(let i = 0; i < 5; i++) { %>
                                            <i class="fa fa-star<%= i < product.rating ? '' : '-o' %>"></i>
                                        <% } %>
                                    </div>
                                    <div class="shp_price">
                                        <span class="regular-price">₹<%= product.regularPrice.toFixed(2) %></span>
                                        <h5>₹<%= product.salePrice.toFixed(2) %></h5>
                                    </div>
                                    <div class="shp_color_select">
                                        <% (product.colors || []).forEach((color, index) => { %>
                                            <label class="<%= color.isActive ? 'active ' + color.class : color.class %>" for="shp_color_<%= product._id %>_<%= index %>">
                                                <input type="radio" id="shp_color_<%= product._id %>_<%= index %>" name="color_<%= product._id %>" value="<%= color.value %>">
                                            </label>
                                        <% }) %>
                                    </div>
                                    <button onclick="addToCart('<%= product._id %>')" class="shp_add_cart">Add To Cart</button>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>

                <!-- Pagination -->
                <% if (totalPages > 1) { %>
                    <div class="pagination">
                        <% let queryParams = []; %>
                        <% if (req.query.search) { %>
                            <% queryParams.push('search=' + req.query.search); %>
                        <% } %>
                        <% if (req.query.category) { %>
                            <% queryParams.push('category=' + req.query.category); %>
                        <% } %>
                        <% if (req.query.brand) { %>
                            <% queryParams.push('brand=' + req.query.brand); %>
                        <% } %>
                        <% if (req.query.price) { %>
                            <% queryParams.push('price=' + req.query.price); %>
                        <% } %>
                        <% if (req.query.sort) { %>
                            <% queryParams.push('sort=' + req.query.sort); %>
                        <% } %>
                        <% let queryString = queryParams.length > 0 ? '&' + queryParams.join('&') : ''; %>
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <a href="/shop?page=<%= i %><%= queryString %>">
                                <button class="<%= i === currentPage ? 'active' : '' %>"><%= i %></button>
                            </a>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>

<script>
// Function to add product to wishlist
async function addToWishlist(productId) {
    try {
        const response = await fetch(`/wishlist/add/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        });

        const result = await response.json();

        if (response.ok && result.success) {
            Swal.fire({
                icon: 'success',
                title: 'Added to Wishlist!',
                text: result.message || 'Product has been added to your wishlist.',
                showConfirmButton: false,
                timer: 1500
            });
        } else {
             document.getElementById("whishlist-button").classList.add("active");
            Swal.fire({
                icon: 'caution',
                title: 'caution!',
                text: result.message || 'Failed to add product to wishlist.',
                confirmButtonText: 'OK'
            });
        }
    } catch (error) {
        console.error('Error adding to wishlist:', error);
        Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: 'Something went wrong. Please try again.',
            confirmButtonText: 'OK'
        });
    }
}

// update cart quantity function

function updateCart(newCount)
{
    let cartCount = document.getElementById("cartCount");
    console.log(newCount)

 if(cartCount)
{
    cartCount.textContent = newCount;
}
}

// Function to add product to cart
async function addToCart(productId) {
    try {
        const response = await fetch(`/cart/add/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            }
        });

        const result = await response.json();

        if (response.ok && result.success) {
            updateCart(result.cartCount);
            Swal.fire({
                icon: 'success',
                title: 'Added to Cart!',
                text: result.message || 'Product has been added to your cart.',
                showConfirmButton: false,
                timer: 1500
            })
                
        } else {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: result.message || 'Failed to add product to cart.',
                confirmButtonText: 'OK'
            });
        }
    } catch (error) {
        console.error('Error adding to cart:', error);
        Swal.fire({
            icon: 'error',
            title: 'Error!',
            text: 'Something went wrong. Please try again.',
            confirmButtonText: 'OK'
        });
    }
}
</script>

<%- include('../partials/user/footer.ejs') %>